body
{
	margin: 0;
	padding: 0;
	color: #222;
	font: normal 12px Arial;
	background: #fff;
}
a{
    cursor: pointer;
}
#header
{
    color:white;
	padding: 5px 10px;
    background: #6078BF;
    font-weight: bold;
}

#top{
    height: 32px;
    line-height: 32px;
    width:950px;
    margin: 0 auto;
}
#logo
{
	padding: 10px 0;
	font-size: 200%;
    width: 950px;
    text-indent: 1em;
    border-left: 1px solid #6078BF;
    border-right: 1px solid #6078BF;
    margin: 0 auto;
    background: #6078BF;
    text-align: left;
}
#logo a{
    color: #FFF;
    text-decoration: none;
}
#content{
    padding:20px;
}
#footer
{
	font-size: 0.9em;
	text-align: center;
    padding-top: 10px;
    line-height: 16px;
    border-top: 1px solid #6078BF;
}

#doc-sidebar{
    padding:10px 10px 20px 10px;
    border-right: 1px solid #6078BF;
}
#content{
    padding-top: 10px;
}
#doc-sidebar .treeview{
    font-size: 1.1em;
}
#doc-sidebar .treeview{
    text-decoration: none;
    color:#3B6FBA;
}
#doc-sidebar .treeview a{
    text-decoration: none;
    color:#3B6FBA;
}
#doc-sidebar .treeview .hover{
    color:#D8582B;
}
#doc-sidebar .treeview .selected{
    font-weight: bold;
    background: none;
    color:#D8582B;
}

.tocs{
    float: right;
    background: #F9F9F9;
    border: 1px solid #dedede;
    padding: .7em 1em;
    margin: .75em 0 1em 1em;
    font: 1em Helvetica;

    width: 210px;
    line-height: 125%;
}
.tocs .level1,.tocs .level2,.tocs .level3,.tocs .levelh4,.tocs .level5,.tocs .level6{
    font-size: 1em;
    line-height:1.5em;
}
.tocs .level2{
    margin-left: 15px;
}
.tocs .level3{
    margin-left: 30px;
}
.tocs .level4{
    margin-left: 45px;
}
.tocs .level5{
    margin-left: 60px;
}
.tocs .level6{
    margin-left: 75px;
}
.tocs div a{
    text-decoration: none;
}
.tocs div a:hover{
    color: green;
}
.wiki-view{
}
.qucik-bar{
    font-size: 14px;
}
.qucik-bar  a{
    color: #444;
    text-decoration: none;
}
.qucik-bar a:hover{
    color: #3B6FBA;
}
#title{
    color: #6078BF;
    border-bottom: 2px solid #6078BF;
    border-top: 1px solid #6078BF;
    padding:5px 10px;
    background: #6078BF;
    color: white;
    font-size: 14px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
#info{
    color: #6078BF;
    text-align: right;
    padding-right: 20px;
}
.php-hl-default {
    color: Black;
}
.php-hl-code {
    color: Gray;
}
.php-hl-brackets {
    color: Olive;
}
.php-hl-comment {
    color: #808080;
	font-style: italic;
}
.php-hl-quotes {
    color: red;
}
.php-hl-string {
    color: Red;
}
.php-hl-identifier {
    color: green;
}
.php-hl-builtin {
    color: Teal;
}
.php-hl-reserved {
    color: black;
	font-weight: bold;
}
.php-hl-inlinedoc {
    color: Blue;
}
.php-hl-var {
    color: blue;
}
.php-hl-url {
    color: Blue;
}
.php-hl-special {
    color: Navy;
}
.php-hl-number {
    color: Maroon;
}
.php-hl-inlinetags {
    color: Blue;
}
.php-hl-main {
	font-family: 'Courier New', Courier, monospace;
	font-weight: normal;
    font-size: 12px;
}
ol.php-hl-main pre {
	margin: 0;
	padding: 0;
}
.php-hl-gutter {
    background-color: #999999;
    color: White
}
.php-hl-table {
    font-family: courier;
    font-size: 12px;
    border: solid 1px #505050;
}

.xml-hl-default {
    color: Black;
}
.xml-hl-code {
    color: Gray;
}
.xml-hl-brackets {
    color: Olive;
}
.xml-hl-comment {
    color: #808080;
	font-style: italic;
}
.xml-hl-quotes {
    color: red;
}
.xml-hl-string {
    color: Red;
}
.xml-hl-identifier {
    color: Blue;
}
.xml-hl-builtin {
    color: Teal;
}
.xml-hl-reserved {
    color: Green;
}
.xml-hl-inlinedoc {
    color: Blue;
}
.xml-hl-var {
    color: #000020;
}
.xml-hl-url {
    color: Blue;
}
.xml-hl-special {
    color: Navy;
}
.xml-hl-number {
    color: Maroon;
}
.xml-hl-inlinetags {
    color: Blue;
}
.xml-hl-main {
	font-family: 'Courier New', Courier, monospace;
	font-weight: normal;
}
.xml-hl-gutter {
    background-color: #999999;
    color: White
}
.xml-hl-table {
    font-family: courier;
    font-size: 12px;
    border: solid 1px #505050;
}

.html-hl-default {
    color: Black;
}
.html-hl-code {
    color: Gray;
}
.html-hl-brackets {
    color: Olive;
}
.html-hl-comment {
    color: #808080;
	font-style: italic;
}
.html-hl-quotes {
    color: red;
}
.html-hl-string {
    color: Red;
}
.html-hl-identifier {
    color: Blue;
}
.html-hl-builtin {
    color: Teal;
}
.html-hl-reserved {
    color: Green;
}
.html-hl-inlinedoc {
    color: Blue;
}
.html-hl-var {
    color: #000020;
}
.html-hl-url {
    color: Blue;
}
.html-hl-special {
    color: Navy;
}
.html-hl-number {
    color: Maroon;
}
.html-hl-inlinetags {
    color: Blue;
}
.html-hl-main {
	font-family: 'Courier New', Courier, monospace;
	font-weight: normal;
}
.html-hl-gutter {
    background-color: #999999;
    color: White
}
.html-hl-table {
    font-family: courier;
    font-size: 12px;
    border: solid 1px #505050;
}

.css-hl-default {
    color: Black;
}
.css-hl-code {
    color: Gray;
}
.css-hl-brackets {
    color: Olive;
}
.css-hl-comment {
    color: #808080;
	font-style: italic;
}
.css-hl-quotes {
    color: red;
}
.css-hl-string {
    color: Red;
}
.css-hl-identifier {
    color: Blue;
}
.css-hl-builtin {
    color: Teal;
}
.css-hl-reserved {
    color: Green;
}
.css-hl-inlinedoc {
    color: Blue;
}
.css-hl-var {
    color: #000020;
}
.css-hl-url {
    color: Blue;
}
.css-hl-special {
    color: Navy;
}
.css-hl-number {
    color: Maroon;
}
.css-hl-inlinetags {
    color: Blue;
}
.css-hl-main {
	font-family: 'Courier New', Courier, monospace;
	font-weight: normal;
}
.css-hl-gutter {
    background-color: #999999;
    color: White
}
.css-hl-table {
    font-family: courier;
    font-size: 12px;
    border: solid 1px #505050;
}

.javascript-hl-default {
    color: Black;
}
.javascript-hl-code {
    color: Gray;
}
.javascript-hl-brackets {
    color: Olive;
}
.javascript-hl-comment {
    color: #808080;
	font-style: italic;
}
.javascript-hl-quotes {
    color: red;
}
.javascript-hl-string {
    color: Red;
}
.javascript-hl-identifier {
    color: Blue;
}
.javascript-hl-builtin {
    color: Teal;
}
.javascript-hl-reserved {
    color: Green;
}
.javascript-hl-inlinedoc {
    color: Blue;
}
.javascript-hl-var {
    color: #000020;
}
.javascript-hl-url {
    color: Blue;
}
.javascript-hl-special {
    color: Navy;
}
.javascript-hl-number {
    color: Maroon;
}
.javascript-hl-inlinetags {
    color: Blue;
}
.javascript-hl-main {
	font-family: 'Courier New', Courier, monospace;
	font-weight: normal;
}
.javascript-hl-gutter {
    background-color: #999999;
    color: White
}
.javascript-hl-table {
    font-family: courier;
    font-size: 12px;
    border: solid 1px #505050;
}


.sql-hl-default {
    color: Black;
}
.sql-hl-code {
    color: Gray;
}
.sql-hl-brackets {
    color: Olive;
}
.sql-hl-comment {
    color: #808080;
	font-style: italic;
}
.sql-hl-quotes {
    color: red;
}
.sql-hl-string {
    color: Red;
}
.sql-hl-identifier {
    color: Blue;
}
.sql-hl-builtin {
    color: Teal;
}
.sql-hl-reserved {
    color: Green;
}
.sql-hl-inlinedoc {
    color: Blue;
}
.sql-hl-var {
    color: #000020;
}
.sql-hl-url {
    color: Blue;
}
.sql-hl-special {
    color: Navy;
}
.sql-hl-number {
    color: Maroon;
}
.sql-hl-inlinetags {
    color: Blue;
}
.sql-hl-main {
	font-family: 'Courier New', Courier, monospace;
	font-weight: normal;
}
.sql-hl-gutter {
    background-color: #999999;
    color: White
}
.sql-hl-table {
    font-family: courier;
    font-size: 12px;
    border: solid 1px #505050;
}

.source .copycode
{
	text-align: right;
	float: right;
}

.source .copycode a
{
	cursor: pointer;
	color: blue;
}

.source .copycode_hover a
{
	color: red;
}

.wiki-view>h1{
    color: #555;
    font-size: 25px;
    font-weight: bold;
}
.wiki-view .content h1,.wiki-view .content h2,.wiki-view .content h3,.wiki-view .content h4,.wiki-view .content h5,.wiki-view .content h6{
    font-weight: bold;
    color: #444;
}
.wiki-view .content h1{
    font-size:1.2em;
}
.wiki-view .content h2{
    font-size: 1.6em;
}
.wiki-view .content h3{
    font-size: 1.4em;
}
.wiki-view .content h4{
    font-size: 1.2em;
}
.wiki-view .content{
    color:#222;
    font-size: 14px;
}
.wiki-view #toTop{
    font-size: 12px;
    margin-left: 5px;
}
.hl-code pre{
    display: block;
    padding: 1em;
    background: #F7F7F7;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    font-family: Menlo,Consolas,"Courier New",Courier,mono;
    margin: 1em 0;
    font-size: 10pt;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
code
{
	border-bottom: 1px dotted #ccc;
	font-weight: bold;
	color: #666;
}
pre
{
	display: block;
	padding: 1em;
	background:#fcfcfc;
	border-top: 1px  solid #eee;
	border-bottom: 1px  solid #eee;
	font-family: Consolas, "Courier New", Courier, mono;
	margin: 1em 0;
	font-size: 10pt;
}
blockquote.tip, blockquote.info, blockquote.note
{
	border-top:1px solid #0cf;
	border-bottom:1px solid #0cf;
	padding:1em 1em 0 55px;
	margin: 1em 0em;
	border-color: #E4DFB8;
	background-color: #FFFAE6;
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-image: url(tip.gif);
    font-style: normal;
}

blockquote.note
{
	background-color:#FFE6E6;
	border-color:#D9C3C3;
	background-image: url(note.gif);
}

blockquote.info
{
	border-color: #B4DAA5;
	background-color: #EBFFCE;
	background-image: url(info.gif);
}
